:root {
    --background-color: #af71d3;
    --border-color: #2c113e;
}

.btn-light-create-form {
    color: #fff;
    background-color: #000000;
    border: 1px solid #eeeced;
    padding-left: 10px;
    margin-left: 16px;
    /* margin-left: 100px; */
    margin-top: 0px;
    border-radius: 10px;
    float: left;
}
.form-control {
    display: flex;
    margin-block: auto;
    margin-left: 20px;
    height: auto;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #000000;
    background-color: #fff;
    background-clip: padding-box;
    border: 2px solid #000000;
    /* -webkit-appearance: none; */
    -moz-appearance: none;
    appearance: none;
    border-radius: 15px;
    margin: 15px;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

input {
    margin: 0;
    margin-left: 21px;
    font-size: inherit;
    color: #b9b9b9;
    /* line-height: inherit; */
}
p {
    margin-top: 0;
    margin-left: 20px;
    font-size: 20px;
    color: #81e690;
    width: auto;
    animation-duration: 3s;
    animation-name: slidein;
    text-align: center;
}

@keyframes slidein {
  from {
    margin-left: 50%;
    width: 100%;
  }

}
body {
    /* background-image: url(https://lh4.googleusercontent.com/-XplyTa1Za-I/VMSgIyAYkHI/AAAAAAAADxM/oL-rD6VP4ts/w1184-h666/Android-Lollipop-wallpapers-Google-Now-Wallpaper-2.png); */
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    font-family: 'Cormorant SC', sans-serif;
    background-color: #000000!important;
}

.bg-light {
    overflow: hidden;
    border-radius: 15px;
    border: 1px solid white;
    width: 35%;
    margin: 65px auto;
    opacity: 0.9;
}

::-webkit-scrollbar{
    width: 15px;
}

::-webkit-scrollbar-track {
    background: #000000;
}

::-webkit-scrollbar-thumb {
    /* background: linear-gradient(100deg, #f32453, #ef7c39, #dbb51a, #db8e1a, #f32453); */
    border-radius: 8px;
    background: #ffd700;
    border: 6px solid #000000;
}

body {
    background-image: url('https://mass-images.pro/files/preview/2/20/94e9665782f5cc9fdb51631af97198b3.png?1658865804078');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    font-family: 'Cormorant SC', sans-serif;
    /*background-color: #e7b2a2!important;*/
}

.btn-light {
    color: #d1b9b9;
    background-color: #d7a698;
    border-color: #d7a698;
    padding: 2px;
    margin-left: 15px;
}

a{
    color: #8a675c;
    text-decoration: none;
}

.black {
    background-color: red;
}

.btn-light {
    color: #fff;
    background-color: #000000;
    border: 2px dotted#c7c5c8;
    border-radius: 10px;
    padding: 6px;
}

.btn-light:hover {
    color: red;
    background-color: #ffffff;
    opacity: 0.4;
    border-color: #a16ac3;
    border-radius: 10px;
    padding: 6px;
}

a {
    color: #9d9d9d;
}

.bg-light {
    background-color: #000000!important;
}

a:hover {
    color: #444242;
}

.btn-n:hover {
    transition: 0.6s;
    color: #ffffff;
    background-color: #ffffff6b;
}


#custom-button {
  margin-left: 20px;
  color: white;
  font-weight: bolder;
  /* opacity: 0.8; */
  background-color: #ffd700;
  border: 0.5px solid #fff;
  border-radius: 9px;
  cursor: pointer;
}

#custom-button:hover {
  background-color: #00b28f;
}

#custom-text {
  margin-left: 10px;
  /* font-family: sans-serif; */
  color: #e5c100;
}

