:root {
  --background-header: #070707;
  --title: #ffd700;
  --icons: #ffffff;
}
* {
  margin: 0;
  padding: 0;
}

#container {
  width: 100vw;
  /* margin-top: 30px; */
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cards {
  width: 75%;
  height: 90%;
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.card {
  position: relative;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: end;
  border-radius: 70px;
  padding: 20px;
  /* background-image: linear-gradient(46deg, #dfac9d, transparent); */
  cursor: pointer;
  transition: .5s;
}
/* All :hover can be replace by .active class set with JS */
.card:hover {
  flex: 13;
}

.card > img {
  position: absolute;
  /* border: 2px solid #e0ac9e; */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 50%;
  /*mix-blend-mode: overlay;*/
  border-radius: 70px;
}

.card .infos {
  color: white;
  margin-bottom: 20px;
  margin-left: 15px;
  opacity: 0;
  transition: .5s;
  z-index: 1;
}
.card:hover .infos {
  opacity: 1;
}

.card .infos .title {
  font-size: 30px;
  font-weight: bold;
  letter-spacing: 1px;
  margin-bottom: 5px;
}

.card .infos .sub {
  opacity: 0.7;
}

.card .label {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 75px;
  height: 75px;
  font-size: 40px;
  background-color: #d9d6d6;
  border-radius: 50%;
  z-index: 1;
  opacity: .5;
}

.label-like {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 55px;
    height: 55px;
    font-size: 40px;
    background-color: white;
    border-radius: 50%;
    z-index: 1;
}


a {
	position: relative;
	color: #E8A2A2;
	cursor: pointer;
	line-height: 2;
	text-decoration: none;

}

.line-effect1:after,
.line-effect2:after
{
	display: block;
	position: absolute;
	left: 0;
	width: 0;
	height: 2px;
	background-color: var(--title);
	content: "";
	transition: width 0.6s ;
}

.line-effect1:hover:after,
.line-effect2:hover:after,
a:focus:after {
	width: 100%;
}


.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #ffffff;
    background-clip: border-box;
}

.text-white {
    color: #f7f3f3 !important;
    cursor: pointer;
}

.dropdown-menu-dark .dropdown-item {
    color: #ffffff;
}


.dropdown-menu-dark {
    /* color: #ffffff; */
    background-color: #000000;
    border-color: rgb(255 255 255);
    box-shadow: 16px -12px 2px rgb(225 201 201 / 60%);
    opacity: .9;
}


.dropdown-menu[data-bs-popper] {
    /* left: 1100px; */
    display: flex;
    top: 70px;
    right: 0;
    margin-top: 0.125rem;
}

.pagination {
    display: flex;
    padding-left: 0;
    list-style: none;
    padding-top: 3px;
    height: 26px;
    justify-content: center;
    border-radius: 15px;
}

body {
    background-image: url(../../image/background/posts-list.jpg);
    margin: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1;
    color: #b28779;
    background-color: #fff;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Cormorant SC', sans-serif;
}


.border-a{
    border-radius: 10px;
    padding: 2px;
    /* border: 2px solid #dfac9d; */
}
.btn-outline-secondary:hover {
    color: #cb3131;
    background-color: #ffffff52;
    border: 0;
}

   [data-tooltip] {
    position: relative;
   }
   [data-tooltip]::after {
    content: attr(data-tooltip);
    position: absolute;
    width: 300px;
    left: 0; top: 0;
    background: #000000ab;
    color: #f4f4f4c4;
    padding: 0.5em;
    border-radius: 10px;

    pointer-events: none;
    opacity: 0;
    transition: 1s;
   }
   [data-tooltip]:hover::after {
    opacity: 1;
    top: 2em;
   }


.inactive {
    color: #ffffff87;
}















.register {
    color: #f7f3f3;
    float: right;
    font-size: 16px;
    /* position: relative; */
    /* margin-top: -90px; */
    /* right: 20px; */
}

.search-box {/* background-color: var(--beige); */height: 50px;border-radius: 40px;padding: 5px;margin: 0 auto;position: relative;}

.search-btn {
    color: #f7f3f3;
    height:40px;
    border-radius: 50%;
    width: 40px;
    /* background-color: var(--beige); */
    text-decoration: none;
}

.search-txt {
    border: none;
    background: none;
    outline: none;
    padding: 9px;
    color: var(--background-header);
    font-size: 17px;
    transition: .4s;
    line-height: 40px;
    width:0;
}

.search-box:hover .search-txt {
    width: 240px;
    padding: 0 6px;
    background-color: #efe9e7;
    border-radius: 40px;
    border: 2px solid var(--background-header);
}

.search-box:hover .search-btn {
    background-color: var(--background-header);
}


html {
   margin-top: 10px;
   color: #ffbaf5;


}

.help {
    /* background-color: var(--beige); */
    background: #000000;
    /* border-radius: 100px; */
    /* border: 2px solid #dfac9d; */
    /* margin-top: -35px; */
    margin-bottom: 38px;
    -webkit-box-shadow: 1px -20px 0px 20px rgb(7 7 7);
    /* box-shadow: 9px -5px 2px rgb(42 41 41 / 60%); */
}


.helpp {
    position: relative;
    /* border: 2px solid #e3b3a4; */
    /* background-color: #ffffff; */
    width: 150px;
    padding: 0px;
    /* background: linear-gradient(90deg, #f32453, #ef7c39, #dbb51a, #db8e1a, #f32453); */
    /* background: #dfac9d; */
    /* border: 2px solid #dfac9d; */
    z-index: 1;
    background-size: 400%;
}

.text-muted {
    color: #8f8a8a;

}



.text-white {
    color: #b3a9a9;
    margin-left: 78px;
}


div.article-panel p.last {
    margin: 0;
    float: right;
}
.navchik {
    padding: 0.5rem;
    /* padding-bottom: 0.3125rem; */
    margin-right: 1rem;
    font-size: 1.25rem;
    text-decoration: none;
}
a {
    color: #7e7d7d;
    font-weight: 900;
    font-size: 16px;
    text-decoration: none;
}


a:hover {
    color: white;
}
.navbar-dark .navbar-brand {
    color: #ddd5d5;
}

.navbar-dark .navbar-brand:hover {
    color: var(--title);
}

.register{
    color: white;
    font-size: 16px;
}

/*.register:hover !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!{*/
/*    color: red;*/
/*    !*background: linear-gradient(92deg, #dc886b, #e79a83, #e59379, #e77760, #dc886b);*!*/
/*    !* background: linear-gradient(236deg, #f32453, #ef7c39, #dbb51a, #db8e1a, #f32453); *!*/
/*    background-size: 400%;*/
/*    z-index: 1;*/
/*    background-size: 400%;*/
/*}*/

.bg-light {
    background-color: #c59586;
    /* border: 1px solid #4c768c!important; */
    border-radius: 20px;
    margin-top: 20px;
    overflow: hidden;
    margin-left: 150px;
    margin-right: 150px;
    -webkit-box-shadow: 0 9px 26px rgb(0 0 0);

    box-shadow: 19px -11px 2px #c595867d;
}

.navbar-dark .navbar-brand {
    color: #ebeaea;
    text-align: center;
}


.btn-outline-secondary:hover {
    color: #cb3131;
    background-color: #565451;
    border: 0;
}

.btn-outline-secondary {
    color: #cb3131;

        border: 0;
}
@keyframes button {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 400%;
  }
}

a:before{
  content: '';
  position: relative;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  z-index: -1;

  background-size: 400%;
  opacity: 0;
  transition: 0.5s;

}

.strokeblock {
    /* border: 2px solid #9bc2e7; */
    /* border-radius: 20px; */
    /* border-radius: 20px; */
    width: 400px;
}

.otstup {
    /* margin-left: 150px; */
    /* margin-right: 150px; */
    border-radius: 0px;
    /* width: 100%; */
    margin-top: 25px;
    margin-bottom: -30px;
    margin: 0;
}

.btn-light {
    color: #ddd5d5;
    background-color: #99bcdd;
    border-color: var(--background-header);
    padding-left: 10px;
    margin-left: 35px;
    margin-top: -35px;
    border-radius: 10px;
}

*before, *after {
    box-sizing: border-box;
}

.image {
    width: 300px;
    height: 300px;
    display: flex;
    /*justify-content: center;*/
    align-item: center;
    text-align: center;
    position: relative;

}

.image__overlay {
    position: absolute;
    top: -1px;
    bottom: 100px;
    left: -1px;
    width: 100.5%;
    height: 100.9%;
    background: rgba(0,0,0,.5);
    color: #ddd5d5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.30s;
}

.image__overlay--primary {
    background: rgba(0,0,0,0.6);
}

.image__overlay > * {
    transform: translateY(0px);
    transition: transform 0.95s;
}
.white-p {
    color: #ddd5d5;
}
.image__overlay:hover {
    opacity: 1;
}

.image__overlay:hover > * {
    transform: translateY(80px);
}



.fortagp {
    margin: 20px;
    color: #877664;
    font-size: 16px;
    letter-spacing: 0.5px;
}

.fortextmutedtitle{
    margin-left: 80px;

}

.white {
    color: #f5f5f5;
}

.form-control {
    display: block;
    margin-top: -20px;
    margin-left: -6px;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #aa8073;
    background-color: #fff;
    background-clip: padding-box;
    border: 2px solid #aa8073;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    /* border-radius: 30px; */
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

img-for-header {
    vertical-align: middle;
    border-radius: 20px;
    border: 1px solid #b78b7e;
}

::-webkit-scrollbar{
    width: 15px;
}

::-webkit-scrollbar-track {
    background: black;
}

::-webkit-scrollbar-thumb {
    background: var(--title);
    border-radius: 8px;
    border: 6px solid black;
}



.fa-vk:before {
    content: "\f189";
    color: white;
}
.fa-google:before {
    content: "\f1a0";
    color: white;
}
.fa-github:before {
    content: "\f09b";
    color: white;
}

.head {


}




